@import url("components/page1/page1.css");
@import url("components/page2/page2.css");
@import url("components/page3/page3.css");

:root {
  --blue-backgraund: rgb(184, 222, 255);
  --black: black;
  --yellow: #ffa501;
  --white: white;
  --opacity-transition: 70%;
  --transition-time-button: 0.2s;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

body {
  overflow-x: hidden;
}

body.body_noScroll {
  overflow: hidden;
  font-size: 24px;
}
