.social-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.social-block__social {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.social-block__svg {
  width: 20px;
  cursor: pointer;
  transition: var(--transition-time-button);
}

.social-block__svg:hover {
  opacity: var(--opacity-transition);
}

.social-block__line {
  content: " ";
  width: 3px;
  height: 70px;
  background-color: var(--black);
}
.social-block__text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
