@import url("title/title.css");
@import url("text.css");

.page2__photo {
  display: none;
}

.practice {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.page2,
.page3 {
  width: 60%;
  margin: auto;
  margin-top: 120px;
}

.content-block {
  margin-top: 50px;
  display: flex;
}
.content-block__title {
  margin-left: 35px;
  font-size: 20px;
}

.content-block__subtitle {
  display: flex;
  gap: 18px;
  margin-left: 35px;
  margin-top: 50px;
}

.content-block__vertical-line {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-block__icon {
  content: " ";
  width: 36px;
  height: 36px;
  background-color: var(--yellow);
  z-index: -1;
  position: relative;
  border-radius: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.content-block__svg {
  width: 20px;
}

.content-block__icon::before {
  content: " ";
  width: 42px;
  height: 1px;
  background-color: var(--black);
  position: absolute;
  left: -42px;
  top: 18px;
}

.content-block__circle {
  content: " ";
  width: 15px;
  height: 15px;
  background-color: var(--yellow);
  border-radius: 50px;
}

.content-block__line {
  content: " ";
  width: 1px;
  height: 100%;
  background-color: var(--black);
}

.erhertjhetje {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1500px) {
  .practice {
    width: 100%;
  }
}

@media only screen and (max-width: 1290px) {
  .page2,
  .page3 {
    width: 70%;
  }
}

@media only screen and (max-width: 1190px) {
  .page2,
  .page3 {
    width: 80%;
  }
  .practice {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .social-block {
    display: none;
  }
  .page2 {
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  .page2__photo {
    display: block;
    margin: auto;
    margin-bottom: 50px;
    width: 100%;
  }
  .page2,
  .page3 {
    margin-top: 60px !important;
  }
}
