@keyframes menu-animation-in {
  0% {
    left: -400px;
  }
  100% {
    left: 0px;
  }
}

@keyframes blure-animation-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu-animation-out {
  0% {
    left: 0px;
  }
  100% {
    left: -400px;
  }
}

@keyframes blure-animation-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.drawer {
  display: none;
}

.drawer.drawer_active {
  display: block;
}

.drawer-blure {
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.589);
  position: absolute;
  z-index: 2;
  left: 0;
  display: block;
  animation: blure-animation-in 0.8s !important;
}

.drawer-blure.drawer_blure-active {
  animation: blure-animation-out 0.8s !important;
}

.drawer-content {
  position: absolute;
  height: calc(100vh - 50px);
  width: 310px;
  background-color: var(--yellow);
  left: 0;
  z-index: 99;
  padding: 25px;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-rows: 0.5fr 2fr 0.3fr;
  animation: menu-animation-in 0.8s !important;
}

.drawer-content.drawer-conten-active {
  animation: menu-animation-out 0.8s !important;
}

.drawer-content__close-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
  margin-left: auto;
  transition: var(--transition-time-button);
}

.drawer-content__close-button:hover {
  opacity: var(--opacity-transition);
}

.drawer-menu {
  margin-right: auto;
  width: 310px;
}
.drawer-menu__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: min-content;
  white-space: nowrap;
}

.drawer-menu__line {
  position: relative;
  list-style: none;
  margin-left: 60px;
}

.drawer-menu__line::before {
  display: block;
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  border: black 1px solid;
  border-radius: 50px;
  top: 5px;
  left: -40px;
}

.drawer-menu__link {
  text-decoration: none;
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  transition: var(--transition-time-button);
}

.drawer-icon__svg:hover,
.drawer-menu__link:hover {
  opacity: var(--opacity-transition);
}

.drawer-icon {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.drawer-icon__svg {
  transform: rotate(90deg);
  cursor: pointer;
  width: 20px;
  transition: var(--transition-time-button);
}

@media only screen and (max-width: 600px) {
  .drawer-content {
    width: 210px;
  }
  .drawer-menu {
    width: 210px;
  }
  .drawer-menu__line {
    margin-left: 20px;
  }

  .drawer-menu__line::before {
    left: -30px;
  }
}
