.header {
  display: flex;
  justify-content: end;
}

.list-button {
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  transition: var(--transition-time-button);
}

.list-button.list-button_margin {
  margin: 20px 30px;
}

.list-button__line {
  content: " ";
  width: 30px;
  height: 3px;
  background-color: var(--black);
}

.list-button:hover {
  opacity: var(--opacity-transition);
}
