form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact {
  display: flex;
  gap: 25px;
  justify-content: space-between;
}

.form-block {
  position: relative;
  width: 100%;
}
.form-block__label {
  position: absolute;
  background: var(--white);
  font-size: 12px;
  font-weight: 500;
  left: 10px;
  top: -10px;
  padding: 3px;
}
.form-block__input {
  width: 14vw;
  height: 40px;
  padding: 5px;
  border-radius: 0px;
  border: 1px solid var(--black);
}

.input-text {
  height: 190px;
  resize: none;
  padding: 15px;
  width: calc(100% - 30px);
  border-radius: 0%;
  border: 1px solid var(--black);
}

.page3 button {
  max-width: 220px;
  height: 45px;
  text-align: center;
  cursor: pointer;
  background-color: var(--yellow);
  border: none;
  font-size: 14px;
  font-weight: 700;
  box-shadow: hsla(0, 0%, 0%, 0.15) 0 4px 4px;
  transition: 0.2s;
}

.page3 button:hover {
  opacity: var(--opacity-transition);
}

.error-message {
  display: none;
}

.error-message._active {
  display: block;
  color: red;
  font-weight: 400;
  font-size: 12px;
}
