form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-block {
  position: relative;
  width: 100%;
}
.form-block__label {
  position: absolute;
  background: var(--white);
  font-size: 12px;
  font-weight: 500;
  left: 10px;
  top: -10px;
  padding: 3px;
}
.form-block__input {
  width: calc(100% - 30px);
  height: 40px;
  padding: 5px 15px;
  border-radius: 0px;
  border: 1px solid var(--black);
  outline: none;
  font-size: 12px;
  font-weight: 500;
}

.contact {
  display: flex;
  gap: 25px;
  justify-content: space-between;
}

.input-text {
  height: 167px;
  resize: none;
  padding: 15px;
  max-width: 1000px;
  width: calc(100% - 30px);
  border-radius: 0%;
  border: 1px solid var(--black);
  outline: none;
  font-size: 12px;
  font-weight: 500;
}

.form-button {
  max-width: 220px;
  height: 45px;
  text-align: center;
  cursor: pointer;
  background-color: var(--yellow);
  border: none;
  font-size: 14px;
  font-weight: 700;
  box-shadow: hsla(0, 0%, 0%, 0.15) 0 4px 4px;
  transition: 0.2s;
}

.form-button:hover {
  opacity: var(--opacity-transition);
}

.error-message {
  display: none;
}

.error-message._active {
  display: block;
  color: red;
  font-weight: 400;
  font-size: 12px;
}

@media only screen and (max-width: 1438px) {
  .input-text {
    height: 147px;
  }
}

@media only screen and (max-width: 1368px) {
  .input-text {
    height: 105px;
  }
}

@media only screen and (max-width: 1300px) {
  .contact {
    flex-direction: column;
  }
  .form-block__input {
    width: calc(100% - 30px);
  }
  .form-button {
    margin: auto;
    padding: 10px 30px;
    white-space: nowrap;
  }
}
