@import url("form.css");

.page3 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 120px;
  gap: 70px;
}

.photo {
  width: auto;
}

.page3__social-icon {
  display: flex;
  gap: 25px;
}

.page3-block__svg {
  width: 30px;
  transform: rotate(90deg);
  cursor: pointer;
}

.title-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.callMe {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-block__subtitle.title-block__subtitle-align {
  text-align: left;
}

@media only screen and (max-width: 1300px) {
  .page3 {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}

@media only screen and (max-width: 700px) {
  .page3 {
    padding-bottom: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .photo {
    display: none;
  }
}
